# Python compiled byte code
*.pyc

# SQLite3 database
*.sqlite3

# Node modules
node_modules/

# Bower components
static/bower_components/

# Uglified JavaScript
dist/

# Staticfiles
staticfiles/

# Log files
*.log

# IDE files
.idea
*.iml
*.ipr
*.iws
.settings
.project
.pydevproject
.directory
