dj-database-url==0.3.0
dj-static==0.0.6
Django==1.8.8
Django==1.8.8
dj-database-url==0.3.0
dj-static==0.0.6
django-admin-shortcuts==1.2.6
django-appconf==1.0.1
django-compressor==1.6
django-debug-toolbar==1.2.2
django-extensions==1.7.4
django-rest-framework-nested==0.0.1
django-rest-swagger==0.3.4
django-toolbelt==0.0.1
djangocms-admin-style==1.0.7
djangorestframework==3.2.4
drf-nested-routers==0.11.1
gunicorn==19.4.1
jinja2==2.8
markupsafe==0.23
pbr==1.10.0
Pillow==3.4.2
psycopg2==2.5.4
PyYAML==3.12
six==1.10.0
sqlparse==0.1.13
static3==0.6.1
stevedore==1.18.0
virtualenv==15.0.3
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
web.py==0.38
Werkzeug==0.11.11
